
.title {
  text-align: center;
  margin: 50px 0 50px 0;
  font-size: 15px;
  font-weight: 600;
  color: #212EA0;
 margin: 70px 0;
 
}
.title h1 {
  color: #000F38;
  font-size: 32px;
  margin-top: 5px;
}